
    <div class="container ">
        <div class="row">
            <div class="holder">
                <strong class="sub-logo">Your participation pays</strong>
            </div>
            <div class="copyright">
                <p>
                    Copyright © 2000 - 2015. pureprofile Pty Ltd. Patented and patent
                    pending.</p>
            </div>
            <ul>
                <li><a href="http://www.pureprofile.com">pureprofile </a></li>
                <li><a href="http://www.pureprofile.com/businesses">• Businesses </a></li>
                <li><a href="http://www.pureprofile.com/terms">• Terms of Service</a></li>
                <li><a href="http://www.pureprofile.com/privacy">• Privacy Policy</a></li>
                <li><a href="http://www.pureprofile.com/faq">• FAQ</a></li>
                <li><a href="http://www.pureprofile.com/contact">• Contact us</a></li>
            </ul>
        </div>
    </div>
