<div class="pp-topbar navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="span2">
                <a id="backurl" href="/">
                    <img class="topbar-logo" alt="pureprofile.com" title="pureprofile.com" src="//images.pureprofile.com/cloud/images/pp_logo.png">
                </a>
            </div>
            <div class="span5 topbar-info">
                <div class="topbar-account-menu pull-right">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="pp-colorbar profile navbar-fixed-top">
</div>
<div class="pp-colorbar navbar-fixed-top group ">
</div>