<!doctype html>
<html ng-app="categoryApp" ng-controller="categoryCtrl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimize mobile viewport -->
    <title>{{categorydetails.category_text}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <link rel="stylesheet" href="//cloud.pureprofile.com/css/styles/PPbootstrap.css"
          type="text/css">
    <link rel="stylesheet" href="//cloud.pureprofile.com/css/styles/pp-pages.css" type="text/css">
    <script src="../../../categorydetails.js"></script>
    <script type="text/javascript">
        var categoryuniquename = '<%= catuname %>';
    </script>
</head>
<body>
<div ng-include src="'../../../menu.html'"></div>
<div class="container page-container group-header-section" ng-show="!isdatafetching" ng-init="categoryuniquename = '<%= catuname %>'">
      <div class="row">
            <ul class="breadcrumb" style="margin: 20px;">
              <li ng-repeat="bc in categorydetails.parent_categories"><a href="/au/category/{{bc.category_unique_name}}">{{bc.category_text}}</a></li>
          </ul>
      </div>
        <div class="row">
            <div class="span3 aside">
                <div class="col-box">
                    <div class="group-image">
                        <img src="http://cloud.pureprofile.com/groups/main/live/201306261455260386196_2795712545042589588.jpg" alt="{{categorydetails.category_text}}">
                    </div>
                </div>
            </div>
            <div class="span6 middle-content">
                <div class="page-header">
                    <img class="icon" src="//cloud.pureprofile.com/icons/pp-core-icons/groups-56.png"
                         alt="pureprofile group">
                    <h1 class="heading">
                        {{categorydetails.category_text}}</h1>
                </div>
            </div>
            <div class="span4 post-container">
                <div class="back-link group-page">
                    <img class="ico" src="//cloud.pureprofile.com/icons/profile-icons/back-arrow-24.png"
                         alt="back">
                    <h3>
                        <a href="/au/sfcategories">back to category list</a></h3>
                </div>
            </div>
        </div>
</div>
<div class="container white-bg-content">
        <div class="row top15">
                <div class="post-container top15" ng-if="categorydetails.child_categories.length > 0">
                    <div class="table-responsive">
                    <table  class="table" style="border:1px;width:800px;margin-left:5%">
                        <thead>
                        <tr>
                            <th>
                                Category ID
                            </th>
                            <th>
                                Category Name
                            </th>
                            <th>
                                Child Category count
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-show="categorydetails.child_categories.length > 0" ng-repeat="cat in categorydetails.child_categories">
                            <td>
                                {{cat.category_id}}
                            </td>
                            <td>
                                {{cat.category_text}}
                            </td>
                            <td>
                                {{cat.total_child}}
                            </td>
                            <td >
                                <a  ng-show="cat.total_child > 0" href="/au/category/{{cat.category_unique_name}}">View</a>
                            </td>
                        </tr>
                        <tr><td colspan="4" ng-show="categorydetails.child_categories != null && categorydetails.child_categories.length == 0">No child caegories found</td></tr>
                        </tbody>
                    </table>
                   </div>
            </div>
        </div>
    </div>
</body>
</html>
