<!DOCTYPE html>
<html ng-app="catApp">
<head>
    <title>Pureprofile Celebrities </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script src="https://code.angularjs.org/1.3.0/angular.min.js"></script>
    <link rel="stylesheet" href="//cloud.pureprofile.com/css/styles/PPbootstrap.css"
          type="text/css">
    <link rel="stylesheet" href="//cloud.pureprofile.com/css/styles/pp-pages.css" type="text/css">
    <link rel="stylesheet" href="../../../style.css" />
    <script src="../../../celebrity.js"></script>
    <script src="../../../dirPagination.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="pp-topbar navbar-fixed-top" style="height: 60px;">
        <div class="container">
            <div class="row">
                <div class="span2">
                    <a id="backurl" href="/">
                        <img class="topbar-logo" alt="pureprofile.com" title="pureprofile.com" src="//images.pureprofile.com/cloud/images/pp_logo.png">
                    </a>
                </div>
                <div class="span5 topbar-info">
                    <div class="topbar-account-menu pull-right">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pp-colorbar profile navbar-fixed-top">
    </div>
    <div class="pp-colorbar navbar-fixed-top group">
    </div>
    <br>
    <div class="row">
        <div class="container page-container">
            <div ng-controller="celebrityCtrl" >
                <img style="margin-left:50%;" src="http://newgroupsapp.pureprofile.com/images/spiffygif_30x30.gif" ng-show="isdatafetching"/>

                <div class="row" ng-show="celebrities.length > 0">
                    <div class="col-xs-6" style="margin-left: 5px;">
                        <label for="search">
                            Search:</label>
                        <input ng-model="filterText" id="search" class="form-control" placeholder="Filter text">
                    </div>
                    <div class="col-xs-6" ng-hide="true">
                        <label for="search">
                            items per page:</label>
                        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                    </div>
                </div>
                <div class="panel panel-default" ng-show="celebrities.length > 0">
                    <div class="panel-body">
                        <table cellspacing="1px" cellpadding="1px" border="1" width="800px" >
                            <tr>
                                <th>Celebrity ID</th>
                                <th>Celebrity name</th>
                                <th>Celebrity Type</th>
                                <th class="hide">Action</th>
                            </tr>
                            <tr dir-paginate="pc in celebrities |filter: {celebrity_name: filterText} | itemsPerPage: pageSize" current-page="currentPage">
                                <td>{{pc.celebrity_id}}</td>
                                <td>{{pc.celebrity_name}}</td>
                                <td>{{pc.celebrity_type}}</td>
                                <td class="hide"><a href="#">View</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-controller="OtherController" class="other-controller" ng-show="!isdatafetching">
                <div class="text-right">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                             template-url="../../../dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<br>
<div class="pp-footer" ng-include="'/footer'"></div>
</body>
</html>