<!DOCTYPE html>
<html ng-app="groupchartApp">
<head>
    <title>Pureprofile Group Chart</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <link rel="stylesheet" href="../../../css/chartcss.css" />
    <script src="../../../groupchart.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
</head>
<body>
<div class="container" ng-controller="gcCtrl">
    <div class="row">
        <h2>Where does this group live?</h2>
    </div>
    <div class="row">
        <div id="chart1">
        </div>
    </div>

    <div class="row">
        <h2>How young is this group?</h2>
    </div>
    <div class="row">
        <div id="chart2">
        </div>
    </div>
</div>
</body>
</html>
