
<!DOCTYPE html>
<html ng-app="groupApp">
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script src="https://code.angularjs.org/1.3.0/angular.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cloud.pureprofile.com/css/styles/PPbootstrap.css"
          type="text/css">
    <link rel="stylesheet" href="//cloud.pureprofile.com/css/styles/pp-pages.css" type="text/css">
    <link rel="stylesheet" href="../style.css" />
    <script src="../script.js"></script>
    <script src="../dirPagination.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="pp-topbar navbar-fixed-top" style="height: 60px;">
        <div class="container">
            <div class="row">
                <div class="span2">
                    <a id="backurl" href="/">
                        <img class="topbar-logo" alt="pureprofile.com" title="pureprofile.com" src="//images.pureprofile.com/cloud/images/pp_logo.png">
                    </a>
                </div>
                <div class="span5 topbar-info">
                    <div class="topbar-account-menu pull-right">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pp-colorbar profile navbar-fixed-top">
    </div>
    <div class="pp-colorbar navbar-fixed-top group">
    </div>
    <br>
    <div class="row">
    <div class="container page-container">
       <div  ng-controller="homeCtrl">
        <div class="row" ng-show="groupData.length>0">
            <div class="col-xs-6">
                <label for="search">
                    Search:</label>
                <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
            <div class="col-xs-6" ng-hide="true">
                <label for="search">
                    items per page:</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
        </div>
        <div class="panel panel-default" ng-show="groupData.length>0">
            <div class="panel-body">
                <table cellspacing="1px" cellpadding="1px" border="1" width="800px" >
                <tr>
                    <th>Group ID</th>
                    <th>Group Name</th>
                    <th>Country</th>
                    <th>Group URL </th>
                    <th>Action</th>
                </tr>
                <tr dir-paginate="gd in groupData |filter:q | itemsPerPage: pageSize" current-page="currentPage">
                    <td>{{gd.id}}</td>
                    <td>{{gd.group_name}}</td>
                    <td>{{gd.country}}</td>
                    <td>{{gd.group_url}}</td>
                    <td><a href="/group/{{gd.group_url}}">View</a></td>
                </tr>
                </table>
            </div>
        </div>
       </div>
       <div ng-controller="OtherController" class="other-controller">
            <div class="text-right">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                         template-url="../dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>
    <br>
</div>
<br>
<div class="pp-footer">
    <div class="container ">
        <div class="row">
            <div class="holder">
                <strong class="sub-logo">Your participation pays</strong>
            </div>
            <div class="copyright">
                <p>
                    Copyright © 2000 - 2015. pureprofile Pty Ltd. Patented and patent
                    pending.</p>
            </div>
            <ul>
                <li><a href="http://www.pureprofile.com">pureprofile </a></li>
                <li><a href="http://www.pureprofile.com/businesses">• Businesses </a></li>
                <li><a href="http://www.pureprofile.com/terms">• Terms of Service</a></li>
                <li><a href="http://www.pureprofile.com/privacy">• Privacy Policy</a></li>
                <li><a href="http://www.pureprofile.com/faq">• FAQ</a></li>
                <li><a href="http://www.pureprofile.com/contact">• Contact us</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>