<!doctype html>
<html ng-app="questiondetailsApp" ng-controller="qdCtrl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimize mobile viewport -->
    <title>{{questiondetails.question_test}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <link rel="stylesheet" href="//cloud.pureprofile.com/css/styles/PPbootstrap.css"
          type="text/css">
    <link rel="stylesheet" href="//cloud.pureprofile.com/css/styles/pp-pages.css" type="text/css">
    <script src="../../../questiondetails.js"></script>
    <script type="text/javascript">
        var qid = '<%= questid %>';
    </script>
</head>
<body>
<div class="pp-topbar navbar-fixed-top" style="height: 60px;">
    <div class="container">
        <div class="row">
            <div class="span2">
                <a id="backurl" href="/">
                    <img class="topbar-logo" alt="pureprofile.com" title="pureprofile.com" src="//images.pureprofile.com/cloud/images/pp_logo.png">
                </a>
            </div>
            <div class="span5 topbar-info">
                <div class="topbar-account-menu pull-right">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pp-colorbar profile navbar-fixed-top">
</div>
<div class="pp-colorbar navbar-fixed-top group">
</div>
<div class="wrapper" ng-init="questionid = '<%= questid %>'">
    <div class="container page-container group-header-section" ng-show="!isdatafetching">
        <div class="row">
            <div class="span3 aside">
                <div class="col-box">
                    <div class="group-image">
                        <img src="http://cloud.pureprofile.com/groups/main/live/201306261455260386196_2795712545042589588.jpg" alt="{{categorydetails.category_text}}">
                    </div>
                </div>
            </div>
            <div class="span6 middle-content">
                <div class="page-header">
                    <img class="icon" src="//cloud.pureprofile.com/icons/pp-core-icons/groups-56.png"
                         alt="pureprofile group">
                    <h1 class="heading">
                        {{questiondetails.question_test}}</h1>
                </div>
            </div>
            <div class="span4 post-container">
                <div class="back-link group-page">
                    <img class="ico" src="//cloud.pureprofile.com/icons/profile-icons/back-arrow-24.png"
                         alt="back">
                    <h3>
                        <a href="/au/questions">back to question list</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container white-bg-content">
        <div class="row top15">
            <div class="post-container top10">
                <div class="post-container top15" style="margin-left:2%;">
                    <p ng-show="questiondetails.answers.length == 0">{{questiondetails.answer}}</p>
                     <table cellspacing="1px" cellpadding="1px" border="1" width="800px" style="margin-left:2%" ng-show="questiondetails.answers.length > 0">
                        <tr>
                            <th>
                                Answer ID
                            </th>
                            <th>
                                Answer
                            </th>
                        </tr>
                        <tr ng-repeat="objq in questiondetails.answers">
                            <td>
                                {{objq.answer_id}}
                            </td>
                            <td>
                                {{objq.answer_text}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
