<!doctype html>
<html ng-app="questiondetailsApp" ng-controller="qdCtrl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimize mobile viewport -->
    <title>{{questiondetails.question_test}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <link rel="stylesheet" href="//cloud.pureprofile.com/css/styles/PPbootstrap.css"
          type="text/css">
    <link rel="stylesheet" href="//cloud.pureprofile.com/css/styles/pp-pages.css" type="text/css">
    <script src="../../../questiondetails.js"></script>
    <script type="text/javascript">
        var qid = '<%= questid %>';
    </script>
</head>
<body>
<div ng-include src="'../../../menu.html'"></div>
    <div class="container page-container group-header-section" ng-show="!isdatafetching" ng-init="questionid = '<%= questid %>'">
        <div class="row">
            <div class="span3 aside">
                <div class="col-box">
                    <div class="group-image">
                        <img src="http://cloud.pureprofile.com/groups/main/live/201306261455260386196_2795712545042589588.jpg"
                             alt="{{questiondetails.group_name}}">
                    </div>
                </div>
            </div>
            <div class="span6 middle-content">
                <div class="page-header">
                    <img class="icon" src="//cloud.pureprofile.com/icons/pp-core-icons/groups-56.png"
                         alt="pureprofile group">
                    <h1 class="heading">
                        {{questiondetails.group_name}}</h1>
                    <p>{{questiondetails.description}}</p>
                </div>
            </div>
            <div class="span4 post-container">
                <div class="back-link group-page">
                    <img class="ico" src="//cloud.pureprofile.com/icons/profile-icons/back-arrow-24.png"
                         alt="back">
                    <h3>
                        <a href="/au/questions">back to question list</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container white-bg-content">
        <div class="row top15">
            <div class="post-container top10">
                <div class="post-container top15" style="margin-left:2%;">
                    <div class="table-responsive">
                    <p ng-show="questiondetails.answers.length == 0" class="ng-binding">{{questiondetails.answer}}</p>
                     <table class="table" style="border:1px;width:800px;margin-left:5%" ng-show="questiondetails.answers.length > 0">
                         <thead>
                        <tr>
                            <th>
                                Answer ID
                            </th>
                            <th>
                                Answer
                            </th>
                        </tr>
                        </thead>
                         <tbody>
                        <tr ng-repeat="objq in questiondetails.answers">
                            <td>
                                {{objq.answer_id}}
                            </td>
                            <td>
                                {{objq.answer_text}}
                            </td>
                        </tr>
                         </tbody>
                    </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
