<!doctype html>
<html ng-app="sfgdApp" ng-controller="sfgdCtrl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>{{sfgroupdetails.group_name}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <link rel="stylesheet" href="//cloud.pureprofile.com/css/styles/PPbootstrap.css"
          type="text/css">
    <link rel="stylesheet" href="//cloud.pureprofile.com/css/styles/pp-pages.css" type="text/css">
    <script src="../../../sfgroupdetails.js"></script>
    <script type="text/javascript">
        var sfgroupuniquename = '<%= sfgdname %>';
    </script>
</head>
<body>
<div ng-include src="'../../../menu.html'"></div>
<div class="wrapper" ng-init="sfgroupuniquename = '<%= sfgdname %>'">
    <div class="container page-container group-header-section" ng-show="!isdatafetching">
        <div class="row">
            <div class="span3 aside">
                <div class="col-box">
                    <div class="group-image">
                        <img src="http://cloud.pureprofile.com/groups/main/live/201306261455260386196_2795712545042589588.jpg"
                             alt="{{sfgroupdetails.group_name}}">
                    </div>
                </div>
            </div>
            <div class="span6 middle-content">
                <div class="page-header">
                    <img class="icon" src="//cloud.pureprofile.com/icons/pp-core-icons/groups-56.png"
                         alt="pureprofile group">
                    <h1 class="heading">
                        {{sfgroupdetails.group_name}}</h1>

                    <p>{{sfgroupdetails.description}}</p>
                </div>
            </div>
            <div class="span4 post-container">
                <div class="back-link group-page">
                    <img class="ico" src="//cloud.pureprofile.com/icons/profile-icons/back-arrow-24.png"
                         alt="back">
                    <h3>
                        <a href="/au/groups">back to question list</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container white-bg-content">
        <div class="row top15">
            <div class="post-container top10">
                <div class="post-container top15" style="margin-left:2%;">
                    <table cellspacing="1px" cellpadding="1px" border="1" width="800px" style="margin-left:2%" ng-show="sfgroupdetails.questions.length > 0">
                        <tr>
                            <th>
                                Question
                            </th>
                            <th>
                                Answer
                            </th>
                        </tr>
                        <tr ng-repeat="objq in sfgroupdetails.questions">
                            <td>
                                {{objq.question_text}}
                            </td>
                            <td>
                                <span ng-show="objA.answers.length == 0">{{objq.answer_text}}</span>
                                <ul>
                                   <li ng-repeat="objA in objq.answers">{{objA.answer_text}}</li>
                               </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
